
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: white;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    padding: 20px;
    background-color: rgb(43, 47, 55);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin: 10px;
    flex-basis: 50%;
  }
  
  h2, p {
    margin-top: 0;
    text-align: center;
    color: white;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    color: white;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
  }
  
  input[type="submit"] {
    background-color: #1D9BF0;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  input[type="submit"]:hover {
    background-color: #0062cc;
  }
  
  .blue {
    color: #1D9BF0;
  }