.title {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: black;
    padding: 20px;
    border-right: 1px solid grey;
    background-color: rgb(43, 47, 55);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    display: block;
    border-radius: 5px;
}
nav ul li a:hover {
    background-color: black;
    color: white;
}

#post {
    border-radius: 0.7em;
    background-color: lightgray;
    margin: 0.8em;
    padding: 0.4em;
}
  
.post-story-link {
    margin: 0 2.5em;
    color: black;
    text-decoration: none;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    color: black;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .post {
    background-color: rgb(43, 47, 55);
    border: 1px solid black;
    border-radius: 0;
    padding: 20px;
    margin-top: 20px;
  }

  h1 {
    font-size: 1em;
    font-weight: bold;
    color: white;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    color: white;
  }
  
  .username {
    text-align: right;
    color: white;
    font-size: 1em;
  }

  .story {
    font-size: 1.1em;
  }

  .storytitle {
    color: white;
  }
  
  .likes-comments {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
  }
  
  .likes-comments .likes i {
    margin-right: 5px;
    color: white;
  }

  .likes-comments .likes {
    display: flex;
    align-items: center;
  }
.likes-comments .comments {
    display: flex;
    align-items: center;
  }
  
  .likes-comments .comments i {
    margin-right: 5px;
    color: white;
  }
  
 
  
  
  